body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.display {
    display: flex;
    height: 200px;
    background-color: lightblue;
    justify-content: right;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

.display-text {
    padding: 30px;
    font-size: 7rem;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 3rem;
}

